[submodule "helix-engine/imgui"]
	branch = docking
	path = helix-engine/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "helix-engine/libpng"]
	path = helix-engine/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "helix-engine/zlib"]
	path = helix-engine/zlib
	url = https://github.com/madler/zlib.git
[submodule "helix-engine/glm"]
	path = helix-engine/glm
	url = https://github.com/g-truc/glm.git
[submodule "helix-engine/meshoptimizer"]
	path = helix-engine/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
